<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="true" /><!-- 全局映射器启用缓存 -->
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />

		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="logImpl" value="LOG4J" />
	</settings>

	<typeAliases>
		<!--&lt;!&ndash; PageData &ndash;&gt;-->
		<!--<typeAlias type="com.vote.util.PageData" alias="pd" />-->
		<!--&lt;!&ndash; 分页 &ndash;&gt;-->
		<!--<typeAlias type="com.vote.entity.Page" alias="Page" />-->
	</typeAliases>

	<!--<typeHandlers>-->
		<!--<typeHandler handler="org.apache.ibatis.type.SqlTimestampTypeHandler"-->
			<!--javaType="oracle.sql.TIMESTAMP" jdbcType="TIMESTAMP" />-->
	<!--</typeHandlers>-->



</configuration>