<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--扫描controller注解-->
    <context:component-scan base-package="com.vote.controller" annotation-config="true"/>
    <!--配置注解映射器和注解适配器-->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
                <!--反序列化时用到-->
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!-- jsp试图解析器,配置试图解析器的前缀和后缀-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--<property name="prefix" value="/WEB-INF/jsp"/>-->
        <property name="prefix" value=""/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 文件上传 -->
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--设置默认编码-->
        <property name="defaultEncoding" value="UTF-8"/>
        <!--设置上传文件的最大字节 5MB-->
        <property name="maxUploadSize" value="5242880"/>
        <!--上传文件分配内存-->
        <property name="maxInMemorySize" value="4096"/>
    </bean>
    <!--静态映射-->
    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/img/**" location="/images/"/>
    <mvc:resources mapping="/css/**" location="/css/"/>

</beans>